html {
    font-family: 'Public sans', sans-serif;
}

main {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.pinturas {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.pinturas .pintura {
    width: 335px;
    height: 432px;
    position: relative;
}

.pinturas .pintura img {
    width: 100%;
}

.pinturas .pintura .informacoes {
    position: absolute;
    color: #ffffff;
    bottom: 40px;
    left: 20px;
}

.pinturas .pintura .informacoes .nome-obra {
    font-size: 30px;
    margin-bottom: 8px;
    font-weight: 700;
}

.pinturas .pintura .informacoes .autor {
    font-size: 17px;
    font-weight: 300;
}